In [1]:
!pip install nose 
!pip install otter-grader

Requirement already satisfied: nose in c:\users\owner\anaconda3\lib\site-packages (1.3.7)
Requirement already satisfied: otter-grader in c:\users\owner\anaconda3\lib\site-packages (4.3.1)
Requirement already satisfied: wrapt in c:\users\owner\anaconda3\lib\site-packages (from otter-grader) (1.14.1)
Requirement already satisfied: dill in c:\users\owner\anaconda3\lib\site-packages (from otter-grader) (0.3.4)
Requirement already satisfied: six in c:\users\owner\anaconda3\lib\site-packages (from otter-grader) (1.16.0)
Requirement already satisfied: click in c:\users\owner\anaconda3\lib\site-packages (from otter-grader) (8.0.4)
Requirement already satisfied: requests in c:\users\owner\anaconda3\lib\site-packages (from otter-grader) (2.28.1)
Requirement already satisfied: google-auth-oauthlib in c:\users\owner\anaconda3\lib\site-packages (from otter-grader) (1.0.0)
Requirement already satisfied: pandas in c:\users\owner\anaconda3\lib\site-packages (from otter-grader) (1.4.4)
Requirement already satisfied: ipython in c:\users\owner\anaconda3\lib\site-packages (from otter-grader) (7.31.1)
Requirement already satisfied: nbformat in c:\users\owner\anaconda3\lib\site-packages (from otter-grader) (5.5.0)
Requirement already satisfied: fica>=0.2.0 in c:\users\owner\anaconda3\lib\site-packages (from otter-grader) (0.2.2)
Requirement already satisfied: google-api-python-client in c:\users\owner\anaconda3\lib\site-packages (from otter-grader) (2.81.0)
Requirement already satisfied: jupytext in c:\users\owner\anaconda3\lib\site-packages (from otter-grader) (1.14.5)
Requirement already satisfied: jinja2 in c:\users\owner\anaconda3\lib\site-packages (from otter-grader) (2.11.3)
Requirement already satisfied: python-on-whales in c:\users\owner\anaconda3\lib\site-packages (from otter-grader) (0.59.0)
Requirement already satisfied: PyYAML in c:\users\owner\anaconda3\lib\site-packages (from otter-grader) (6.0)
Requirement already satisfied: docutils in c:\users\owner\anaconda3\lib\site-packages (from fica>=0.2.0->otter-grader) (0.18.1)
Requirement already satisfied: sphinx in c:\users\owner\anaconda3\lib\site-packages (from fica>=0.2.0->otter-grader) (5.0.2)
Requirement already satisfied: colorama in c:\users\owner\anaconda3\lib\site-packages (from click->otter-grader) (0.4.6)
Requirement already satisfied: httplib2<1dev,>=0.15.0 in c:\users\owner\anaconda3\lib\site-packages (from google-api-python-client->otter-grader) (0.21.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in c:\users\owner\anaconda3\lib\site-packages (from google-api-python-client->otter-grader) (2.11.0)
Requirement already satisfied: google-auth<3.0.0dev,>=1.19.0 in c:\users\owner\anaconda3\lib\site-packages (from google-api-python-client->otter-grader) (2.16.2)
Requirement already satisfied: google-auth-httplib2>=0.1.0 in c:\users\owner\anaconda3\lib\site-packages (from google-api-python-client->otter-grader) (0.1.0)
Requirement already satisfied: uritemplate<5,>=3.0.1 in c:\users\owner\anaconda3\lib\site-packages (from google-api-python-client->otter-grader) (4.1.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\owner\anaconda3\lib\site-packages (from google-auth-oauthlib->otter-grader) (1.3.1)
Requirement already satisfied: pygments in c:\users\owner\anaconda3\lib\site-packages (from ipython->otter-grader) (2.11.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\owner\anaconda3\lib\site-packages (from ipython->otter-grader) (63.4.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\owner\anaconda3\lib\site-packages (from ipython->otter-grader) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\owner\anaconda3\lib\site-packages (from ipython->otter-grader) (3.0.20)
Requirement already satisfied: decorator in c:\users\owner\anaconda3\lib\site-packages (from ipython->otter-grader) (5.1.1)
Requirement already satisfied: backcall in c:\users\owner\anaconda3\lib\site-packages (from ipython->otter-grader) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\owner\anaconda3\lib\site-packages (from ipython->otter-grader) (0.7.5)
Requirement already satisfied: matplotlib-inline in c:\users\owner\anaconda3\lib\site-packages (from ipython->otter-grader) (0.1.6)
Requirement already satisfied: jedi>=0.16 in c:\users\owner\anaconda3\lib\site-packages (from ipython->otter-grader) (0.18.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\owner\anaconda3\lib\site-packages (from jinja2->otter-grader) (2.0.1)
Requirement already satisfied: toml in c:\users\owner\anaconda3\lib\site-packages (from jupytext->otter-grader) (0.10.2)
Requirement already satisfied: mdit-py-plugins in c:\users\owner\anaconda3\lib\site-packages (from jupytext->otter-grader) (0.3.5)
Requirement already satisfied: markdown-it-py<3.0.0,>=1.0.0 in c:\users\owner\anaconda3\lib\site-packages (from jupytext->otter-grader) (2.2.0)
Requirement already satisfied: jsonschema>=2.6 in c:\users\owner\anaconda3\lib\site-packages (from nbformat->otter-grader) (4.16.0)
Requirement already satisfied: fastjsonschema in c:\users\owner\anaconda3\lib\site-packages (from nbformat->otter-grader) (2.16.2)
Requirement already satisfied: jupyter_core in c:\users\owner\anaconda3\lib\site-packages (from nbformat->otter-grader) (4.11.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\owner\anaconda3\lib\site-packages (from pandas->otter-grader) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\owner\anaconda3\lib\site-packages (from pandas->otter-grader) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\owner\anaconda3\lib\site-packages (from pandas->otter-grader) (2022.1)
Requirement already satisfied: tqdm in c:\users\owner\anaconda3\lib\site-packages (from python-on-whales->otter-grader) (4.64.1)
Requirement already satisfied: typing-extensions in c:\users\owner\anaconda3\lib\site-packages (from python-on-whales->otter-grader) (4.3.0)
Requirement already satisfied: pydantic>=1.5 in c:\users\owner\anaconda3\lib\site-packages (from python-on-whales->otter-grader) (1.10.4)
Requirement already satisfied: typer>=0.4.1 in c:\users\owner\anaconda3\lib\site-packages (from python-on-whales->otter-grader) (0.7.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\owner\anaconda3\lib\site-packages (from requests->otter-grader) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\owner\anaconda3\lib\site-packages (from requests->otter-grader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\owner\anaconda3\lib\site-packages (from requests->otter-grader) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\owner\anaconda3\lib\site-packages (from requests->otter-grader) (1.26.11)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in c:\users\owner\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client->otter-grader) (1.58.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in c:\users\owner\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client->otter-grader) (4.22.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\owner\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client->otter-grader) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\owner\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client->otter-grader) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\owner\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client->otter-grader) (4.9)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in c:\users\owner\anaconda3\lib\site-packages (from httplib2<1dev,>=0.15.0->google-api-python-client->otter-grader) (3.0.9)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\owner\anaconda3\lib\site-packages (from jedi>=0.16->ipython->otter-grader) (0.8.3)
Requirement already satisfied: attrs>=17.4.0 in c:\users\owner\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->otter-grader) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\owner\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat->otter-grader) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\owner\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=1.0.0->jupytext->otter-grader) (0.1.2)
Requirement already satisfied: wcwidth in c:\users\owner\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->otter-grader) (0.2.5)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\owner\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->otter-grader) (3.2.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\owner\anaconda3\lib\site-packages (from jupyter_core->nbformat->otter-grader) (302)
Requirement already satisfied: sphinxcontrib-htmlhelp>=2.0.0 in c:\users\owner\anaconda3\lib\site-packages (from sphinx->fica>=0.2.0->otter-grader) (2.0.0)
Requirement already satisfied: importlib-metadata>=4.4 in c:\users\owner\anaconda3\lib\site-packages (from sphinx->fica>=0.2.0->otter-grader) (4.11.3)
Requirement already satisfied: sphinxcontrib-serializinghtml>=1.1.5 in c:\users\owner\anaconda3\lib\site-packages (from sphinx->fica>=0.2.0->otter-grader) (1.1.5)
Requirement already satisfied: babel>=1.3 in c:\users\owner\anaconda3\lib\site-packages (from sphinx->fica>=0.2.0->otter-grader) (2.9.1)
Requirement already satisfied: sphinxcontrib-jsmath in c:\users\owner\anaconda3\lib\site-packages (from sphinx->fica>=0.2.0->otter-grader) (1.0.1)
Requirement already satisfied: packaging in c:\users\owner\anaconda3\lib\site-packages (from sphinx->fica>=0.2.0->otter-grader) (21.3)
Requirement already satisfied: imagesize in c:\users\owner\anaconda3\lib\site-packages (from sphinx->fica>=0.2.0->otter-grader) (1.4.1)
Requirement already satisfied: sphinxcontrib-devhelp in c:\users\owner\anaconda3\lib\site-packages (from sphinx->fica>=0.2.0->otter-grader) (1.0.2)
Requirement already satisfied: snowballstemmer>=1.1 in c:\users\owner\anaconda3\lib\site-packages (from sphinx->fica>=0.2.0->otter-grader) (2.2.0)
Requirement already satisfied: sphinxcontrib-applehelp in c:\users\owner\anaconda3\lib\site-packages (from sphinx->fica>=0.2.0->otter-grader) (1.0.2)
Requirement already satisfied: alabaster<0.8,>=0.7 in c:\users\owner\anaconda3\lib\site-packages (from sphinx->fica>=0.2.0->otter-grader) (0.7.12)
Requirement already satisfied: sphinxcontrib-qthelp in c:\users\owner\anaconda3\lib\site-packages (from sphinx->fica>=0.2.0->otter-grader) (1.0.3)
Requirement already satisfied: zipp>=0.5 in c:\users\owner\anaconda3\lib\site-packages (from importlib-metadata>=4.4->sphinx->fica>=0.2.0->otter-grader) (3.8.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\owner\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0dev,>=1.19.0->google-api-python-client->otter-grader) (0.4.8)

In [2]:
# Initialize Otter
import otter
grader = otter.Notebook("DSA_2023_Entry.ipynb")

## DSA 2023 Summer School Admittance Check

Thanks for your interest in attending DSA Kigali 2023. To attend the summer school you have to have some level of basic Python proficiency. Completing the following notebook should ensure you have the right kind of background to benefit maximally from the Summer School. See you in Kigali!

In [3]:
# Run these once ... Just in case 
#!pip install nose 
#!pip install otter-grader
import IPython
from IPython import get_ipython
# Import the good stuff
import pandas as pd
import numpy as np
import math
from nose.tools import assert_equal
import otter
grader = otter.Notebook()

**Question 1:** Write a Python function to return a tuple of primes and non primes given an integer input

In [4]:
def sieve(n):
    primes = []
    non_primes = []
    sieve = [True] * (n+1)
    sieve[0] = sieve[1] = False
    for p in range(2, n+1):
        if sieve[p]:
            primes.append(p)
            for i in range(p*p, n+1, p):
                sieve[i] = False
        else:
            non_primes.append(p)
    return tuple(primes), tuple(non_primes)
num = 30
print("Following are the prime and non prime numbers smaller than or equal to", num)
print(sieve(num))

Following are the prime and non prime numbers smaller than or equal to 30
((2, 3, 5, 7, 11, 13, 17, 19, 23, 29), (4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30))

In [5]:
grader.check("q1")

q1 results: All test cases passed!

**Question 2:** Create a dictionary to store the type and number of unique characters in the paragraph provided

In [6]:
paragraph = "The following is sample text I used to practice special characters using keybr.com: 112233445566778899 Saturn V rocket’s first stage carries 203,400 gallons (770,000 liters) of kerosene fuel and 318,000 gallons (1.2 million liters) of liquid oxygen needed for combustion. At liftoff, the stage’s five F-1 rocket engines ignite and produce 7.5 million pounds of thrust. To replace those goofy quantities with the far less retarded metric system (even though liters are considered part of the metric system they are the same as cubic deci-meters) you would say 770 cubic meters of kerosene {abbreviated as m3} and 1,204 m3 of liquid O2 [O2 is the symbol for oxygen]. We would also say it produced 33,600,000 newtons of force <abbreviated as N>. To add scientific notation {a way of writing numbers that allows you to write only as many digits `of specificity` as you would like} you can write 7.7 * 10 ^ 2 m3 of kerosene 1.204 * 10 ^ 3 m3 of O2 and 3.3 * 10 ^ 7 newtons. Another way to write scientific notation is to replace the “* 10 ^” with ‘E’ -/capital e\-. So our numbers would look like:s"
# Remove all non-alphanumeric characters from the paragraph
paragraph = ''.join(e for e in paragraph if e.isalnum() or e.isspace())

# Count the number of occurrences of each unique character
char_counts = {}
for char in paragraph:
    if char not in char_counts:
        char_counts[char] = 1
    else:
        char_counts[char] += 1

# Create a dictionary to store the type and number of unique characters
dictionary = {}
for char, count in char_counts.items():
    if char.isalpha():
        if char.isupper():
            dictionary['uppercase'] = dictionary.get('uppercase', 0) + 1
        elif char.islower():
            dictionary['lowercase'] = dictionary.get('lowercase', 0) + 1
    elif char.isdigit():
        dictionary['digit'] = dictionary.get('digit', 0) + 1
    elif char.isspace():
        dictionary['space'] = dictionary.get('space', 0) + 1
    else:
        dictionary['special'] = dictionary.get('special', 0) + 1
        
print(dictionary)

{'uppercase': 10, 'lowercase': 24, 'space': 1, 'digit': 10}

In [7]:
grader.check("q2")

q2 results: All test cases passed!

**Question 3:** Extract the values from the dictionary above into a list

In [8]:
dictionary = {
    'T': 1, 'h': 2, 'e': 3, ' ': 4, 'f': 5, 'o': 6, 'l': 7, 'w': 8, 'i': 9, 'n': 10,
    'g': 11, 's': 12, 'a': 13, 'm': 14, 'p': 15, 't': 16, 'x': 17, 'I': 18, 'u': 19,
    'd': 20, 'r': 21, 'c': 22, 'k': 23, 'y': 24, 'b': 25, '.': 26, ':': 27, '1': 28,
    '2': 29, '3': 30, '4': 31, '5': 32, '6': 33, '7': 34, '8': 35, '9': 36, 'S': 37,
    'V': 38, '’': 39, '0': 40, ',': 41, '(': 42, ')': 43, 'q': 44, 'A': 45, 'v': 46,
    'F': 47, '-': 48, '{': 49, '}': 50, 'O': 51, '[': 52, ']': 53, 'W': 54, '<': 55,
    'N': 56, '>': 57, '`': 58, '*': 59, '^': 60, '“': 61, '”': 62, '‘': 63, 'E': 64,
    '/': 65, '\\': 66
}

keysList = list(dictionary.keys())

print(keysList)

['T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '’', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '“', '”', '‘', 'E', '/', '\\']

In [9]:
grader.check("q3")

q3 results: All test cases passed!

**Question 4:** Extract the keys from the dictionary above into a list

In [10]:
dictionary = {'T': 1, 'h': 7, 'e': 21, ' ': 27, 'f': 4, 'o': 15, 'l': 5, 'w': 2, 'i': 17, 'n': 13, 'g': 6, 's': 9, 'a': 11, 'm': 3, 'p': 5, 't': 13, 'x': 1, 'I': 1, 'u': 3, 'd': 3, 'r': 11, 'c': 2, 'k': 2, 'y': 2, 'b': 1, '.': 1, ':': 1, '1': 1, '2': 1, '3': 1, '4': 1, '5': 1, '6': 1, '7': 1, '8': 1, '9': 1, 'S': 1, 'V': 1, '’': 1, '0': 1, ',': 1, '(': 1, ')': 1, 'q': 1, 'A': 1, 'v': 1, 'F': 1, '-': 1, '{': 1, '}': 1, 'O': 1, '[': 1, ']': 1, 'W': 1, '<': 1, 'N': 1, '>': 1, '`': 1, '*': 1, '^': 1, '“': 1, '”': 1, '‘': 1, 'E': 1, '/': 1, '\\': 1}

valuesList = list(dictionary.values())
print(valuesList)

[1, 7, 21, 27, 4, 15, 5, 2, 17, 13, 6, 9, 11, 3, 5, 13, 1, 1, 3, 3, 11, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [11]:
grader.check("q4")

q4 results: All test cases passed!

**Question 5:** Merge the two lists into a tuple

In [12]:
dictionary = {'T': 3, 'h': 17, 'e': 89, ' ': 192, 'f': 26, 'o': 68, 'l': 35, 'w': 16, 'i': 60, 'n': 42, 'g': 14, 's': 57, 'a': 48, 'm': 20, 'p': 11, 't': 65, 'x': 3, 'I': 1, 'u': 26, 'd': 27, 'r': 45, 'c': 31, 'k': 9, 'y': 19, 'b': 11, '.': 12, ':': 2, '1': 11, '2': 10, '3': 13, '4': 5, '5': 3, '6': 3, '7': 10, '8': 3, '9': 2, 'S': 2, 'V': 1, '’': 4, '0': 2, ',': 2, '(': 3, ')': 1, 'q': 1, 'A': 1, 'v': 1, 'F': 1, '-': 1, '{': 1, '}': 1, 'O': 1, '[': 1, ']': 1, 'W': 2, '<': 1, 'N': 1, '>': 1, '`': 1, '*': 2, '^': 1, '“': 1, '”': 1, '‘': 1, 'E': 2, '/': 4, '\\': 4}

keys = list(dictionary.keys())
values = list(dictionary.values())

final_tuple = (tuple(keys), tuple(values))

print(final_tuple)

(('T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '’', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '“', '”', '‘', 'E', '/', '\\'), (3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 4, 4))

In [ ]:
grader.check("q5")

**Question 6:**  Write a function `greatest_common_divisor` that takes two inputs `a` and `b` and returns the greatest common divisor of the two numbers. E.g. input `(10, 15)` would return `5`

In [14]:
def greatest_common_divisor(a, b):
    if b == 0:
        return a
    else:
        return greatest_common_divisor(b, a % b)

In [15]:
grader.check("q6")

q6 results: All test cases passed!

**Question 7:**  Write a function `get_nearest_farthest` that takes in a point of interest (pt) and a list of points and returns the nearest point and the farthest point from the point of intest.

In [16]:
import math
def get_nearest_farthest(pt, ptlist):
    if len(ptlist) == 0:
        return None, None
    nearest = ptlist[0]
    farthest = ptlist[0]
    min_distance = math.dist(pt, nearest)
    max_distance = math.dist(pt, farthest)
    for point in ptlist:
        distance = math.dist(pt, point)
        if distance < min_distance:
            nearest = point
            min_distance = distance
        if distance > max_distance:
            farthest = point
            max_distance = distance
    return nearest, farthest

In [17]:
grader.check("q7")

q7 results: All test cases passed!

**Question 8:**  Write a function `perfectly_divisible` to return a list of numbers between 0 and a number $N$ that are perfectly divisible by $q$ (with out leaving a remainder). <br>
**Hint**: $N$ should also be inclusive in the numbers being considered. If N is negative use N == 20

In [18]:
def perfectly_divisible(N, q):
    if N < 0:
        N = 20
    return [x for x in range(N+1) if x % q == 0]

In [19]:
grader.check("q8")

q8 results: All test cases passed!

**Question 9:**  Write a function `flatten_lists` that takes in a list of lists and outputs a sorted list of elements of sublists of the input list (confusing right?) <br>
Example: given `flatten_lists([[2,13,44], [6,7]])` it should return `[2,6,7,13,44]`

In [20]:
def flatten_lists(superlist):
    # Create an empty list to store the flattened elements
    flattened_list = []
    
    # Loop through each sublist in the superlist
    for sublist in superlist:
        # Extend the flattened list with the elements of the sublist
        flattened_list.extend(sublist)
    
    # Sort the flattened list and return it
    return sorted(flattened_list)

In [21]:
grader.check("q9")

q9 results: All test cases passed!

**The Extra Mile!**

**Download the dataset "Nakuru Sensor Data for February 2023 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/14165682-37dd-4f40-914e-eb24619e4ef8"**

Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe

In [22]:
import pandas as pd
from functools import reduce

#Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe 

df = pd.read_csv('Nakuru_Sensor_Data_Feb_2023.csv',delimiter=';',usecols=['timestamp','value_type','value'])

df.head()

                          timestamp   value_type  value
0  2023-02-04T04:22:51.323124+00:00     humidity    100
1  2023-02-04T04:22:51.323124+00:00  temperature     12
2  2023-02-04T04:22:51.323125+00:00           P2     27
3  2023-02-04T04:22:51.323125+00:00           P1     59
4  2023-02-04T04:25:32.354784+00:00     humidity    100

**Question E1:** Create a new collumn 'timestamp_new' from 'timestamp' rounded off to the second

In [23]:
df['timestamp_new'] = pd.to_datetime(df['timestamp']).dt.round('1s')
df.head()

,timestamp,value_type,value,timestamp_new
0,2023-02-04T04:22:51.323124+00:00,humidity,100,2023-02-04 04:22:51+00:00
1,2023-02-04T04:22:51.323124+00:00,temperature,12,2023-02-04 04:22:51+00:00
2,2023-02-04T04:22:51.323125+00:00,P2,27,2023-02-04 04:22:51+00:00
3,2023-02-04T04:22:51.323125+00:00,P1,59,2023-02-04 04:22:51+00:00
4,2023-02-04T04:25:32.354784+00:00,humidity,100,2023-02-04 04:25:32+00:00

**Question E2:** Split the dataframe based on the 'value_type' collumn

In [24]:
grouped = df.groupby('value_type')

df_temperature = grouped.get_group('temperature')
df_humidity = grouped.get_group('humidity')
df_P1 = grouped.get_group('P1')
df_P2 = grouped.get_group('P2')

**Question E3:** Find the mean, mode and median of the humidity, temperature, P1 and P2 values

In [25]:
# Temperature
mu_temp = df_temperature['value'].mean()
med_temp = df_temperature['value'].median()
sd_temp = df_temperature['value'].std()

print("Temperature")
print("Mean = ",mu_temp, "Median = ", med_temp, "Standard Deviation = ", sd_temp)

# Humidity
mu_humidity = df_humidity['value'].mean()
med_humidity = df_humidity['value'].median()
sd_humidity = df_humidity['value'].std()

print("Humidity")
print("Mean = ",mu_humidity, "Median = ", med_humidity, "Standard Deviation = ", sd_humidity)

# P1
mu_P1 = df_P1['value'].mean()
med_P1 = df_P1['value'].median()
sd_P1 = df_P1['value'].std()
print("P1")
print("Mean = ",mu_P1, "Median = ", med_P1, "Standard Deviation = ", sd_P1)


# P2
mu_P2 = df_P2['value'].mean()
med_P2 = df_P2['value'].median()
sd_P2 = df_P2['value'].std()

print("P2")
print("Mean = ",mu_P2, "Median = ", med_P2, "Standard Deviation = ", sd_P2)

Temperature
Mean =  22.35287548855388 Median =  22.0 Standard Deviation =  7.218686624924859
Humidity
Mean =  64.31109249953471 Median =  61.0 Standard Deviation =  22.407697062564335
P1
Mean =  28.508605451669922 Median =  20.0 Standard Deviation =  33.69146836187376
P2
Mean =  11.30142338822216 Median =  8.0 Standard Deviation =  11.865466667566917

**Question E4:** Merge the grouped dataframes into one dataframe and save it as newdata.csv

In [26]:
# concatenate data frames horizontally
df_merged = pd.concat([df_temperature['value'], df_humidity['value'], df_P1['value'], df_P2['value'], df['timestamp_new']], axis=1)

# rename columns
df_merged.columns = ['temperature', 'humidity', 'P1', 'P2','timestamp_new']

print(df_merged)

from pathlib import Path  
filepath = Path('newdata.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_merged.to_csv(filepath)

       temperature  humidity  P1   P2             timestamp_new
1             12.0       NaN NaN  NaN 2023-02-04 04:22:51+00:00
5             11.0       NaN NaN  NaN 2023-02-04 04:25:32+00:00
11            12.0       NaN NaN  NaN 2023-02-04 04:28:13+00:00
13            12.0       NaN NaN  NaN 2023-02-04 04:30:52+00:00
17            12.0       NaN NaN  NaN 2023-02-04 04:33:33+00:00
...            ...       ...  ..  ...                       ...
42972          NaN       NaN NaN  0.0 2023-02-24 07:43:55+00:00
42976          NaN       NaN NaN  7.0 2023-02-24 07:46:35+00:00
42980          NaN       NaN NaN  1.0 2023-02-24 07:49:16+00:00
42982          NaN       NaN NaN  0.0 2023-02-24 07:51:56+00:00
42988          NaN       NaN NaN  0.0 2023-02-24 07:54:36+00:00

[42990 rows x 5 columns]

**Question E5:** Open the new data file and select only 'timestamp_new','value_temperature','value_humidity','value_P1' and 'value_P2' collunms

In [27]:
new_df = pd.read_csv('newdata.csv',delimiter=',',usecols=['temperature', 'humidity', 'P1', 'P2', 'timestamp_new'])

new_df

       temperature  humidity  P1   P2              timestamp_new
0             12.0       NaN NaN  NaN  2023-02-04 04:22:51+00:00
1             11.0       NaN NaN  NaN  2023-02-04 04:25:32+00:00
2             12.0       NaN NaN  NaN  2023-02-04 04:28:13+00:00
3             12.0       NaN NaN  NaN  2023-02-04 04:30:52+00:00
4             12.0       NaN NaN  NaN  2023-02-04 04:33:33+00:00
...            ...       ...  ..  ...                        ...
42985          NaN       NaN NaN  0.0  2023-02-24 07:43:55+00:00
42986          NaN       NaN NaN  7.0  2023-02-24 07:46:35+00:00
42987          NaN       NaN NaN  1.0  2023-02-24 07:49:16+00:00
42988          NaN       NaN NaN  0.0  2023-02-24 07:51:56+00:00
42989          NaN       NaN NaN  0.0  2023-02-24 07:54:36+00:00

[42990 rows x 5 columns]

**Question E6:** Replace the missing values in collumns 'value_P1' and 'value_P2' with the mean of the same collumns

In [28]:
#Check for missing values 
missing_values = new_df.isnull().sum()

# displaying data only with NaN
missing_values

temperature      32244
humidity         32244
P1               32241
P2               32241
timestamp_new        0
dtype: int64

In [29]:
new_df['temperature'] = new_df['temperature'].fillna(new_df['temperature'].mean())
new_df['humidity'] = new_df['humidity'].fillna(new_df['humidity'].mean())

In [30]:
#print("The mean of P1",new_df['value_P2'].mean())
#print("The mean of P2",new_df['value_P1'].mean())

#replace missing values with the mean 
# replace missing values in 'value_P1' and 'value_P2' with mean of those columns
new_df['P1'] = new_df['P1'].fillna(new_df['P1'].mean())
new_df['P2'] = new_df['P2'].fillna(new_df['P2'].mean())
new_df

       temperature   humidity         P1         P2              timestamp_new
0        12.000000  64.311092  28.508605  11.301423  2023-02-04 04:22:51+00:00
1        11.000000  64.311092  28.508605  11.301423  2023-02-04 04:25:32+00:00
2        12.000000  64.311092  28.508605  11.301423  2023-02-04 04:28:13+00:00
3        12.000000  64.311092  28.508605  11.301423  2023-02-04 04:30:52+00:00
4        12.000000  64.311092  28.508605  11.301423  2023-02-04 04:33:33+00:00
...            ...        ...        ...        ...                        ...
42985    22.352875  64.311092  28.508605   0.000000  2023-02-24 07:43:55+00:00
42986    22.352875  64.311092  28.508605   7.000000  2023-02-24 07:46:35+00:00
42987    22.352875  64.311092  28.508605   1.000000  2023-02-24 07:49:16+00:00
42988    22.352875  64.311092  28.508605   0.000000  2023-02-24 07:51:56+00:00
42989    22.352875  64.311092  28.508605   0.000000  2023-02-24 07:54:36+00:00

[42990 rows x 5 columns]

**Question E7:** Compute the correlations between temperature and humidity; P1 and P2

In [31]:
#Correlation between temperature and humidity
corr_temp_hum = new_df['temperature'].corr(new_df['humidity'])

print ("Correlation between temparature and humidity",corr_temp_hum)

#Correlation between P1 and P2
corr_p1_p2 = new_df['P1'].corr(new_df['P2'])

print ("Correlation between P1 and P2",corr_p1_p2)

Correlation between temparature and humidity -3.409556407756375e-30
Correlation between P1 and P2 4.1736972597761743e-32

**Question E8:** Create a new dataframe comprising of the average values of the variables by day

In [32]:
# convert timestamp column to datetime type
new_df['timestamp_new'] = pd.to_datetime(new_df['timestamp_new'])
means_feb = new_df.groupby(new_df['timestamp_new'].dt.date).mean().reset_index()
means_feb

   timestamp_new  temperature   humidity         P1         P2
0     2023-02-04    22.843277  61.681283  26.707812  10.169506
1     2023-02-05    22.209101  64.100449  26.083306  10.039031
2     2023-02-06    22.353710  63.420240  27.394441  10.764565
3     2023-02-07    22.417152  64.653375  26.586630  10.509801
4     2023-02-08    22.276716  65.974971  29.060489  12.001578
5     2023-02-09    22.198453  66.109708  28.824047  12.067271
6     2023-02-10    22.382708  64.133462  28.259661  11.368131
7     2023-02-11    22.323453  64.930079  28.333306  11.434864
8     2023-02-12    22.265588  63.289651  27.176147  10.546831
9     2023-02-13    22.193945  62.323192  32.721783  12.600611
10    2023-02-14    22.486827  64.257902  32.143050  12.533581
11    2023-02-15    22.505432  64.879076  31.022598  12.706695
12    2023-02-16    22.566764  65.077369  30.960877  12.310001
13    2023-02-17    22.445212  63.945819  29.224047  11.544586
14    2023-02-18    22.354471  64.277764  30.348121  11.897364
15    2023-02-19    21.310731  68.175813  28.707754  11.763687
16    2023-02-20    22.451700  63.621549  28.987294  11.591031
17    2023-02-21    22.387583  63.204831  29.978347  11.738692
18    2023-02-22    22.631844  63.629919  28.102042  10.733880
19    2023-02-23    22.666690  63.470380  21.466944   8.507953
20    2023-02-24    20.924769  70.063376  21.509263   8.565955

**Question E9:** Download the dataset "Nakuru Sensor Data for November 2021 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/1f11351e-156b-4e4c-a063-b86a6ee07c4a"

Load the data into a pandas dataframe and develop a dataframe similar to what you have just done in Question no's 6 - 13 above

In [33]:
df = pd.read_csv('november_2021_sensor_data_archive.csv',delimiter=';',usecols=['timestamp','value_type','value'])

grouped = df.groupby('value_type')
df_temperature = grouped.get_group('temperature')
df_humidity = grouped.get_group('humidity')
df_P1 = grouped.get_group('P1')
df_P2 = grouped.get_group('P2')

df_merged = pd.concat([df_temperature['value'], df_humidity['value'], df_P1['value'], df_P2['value'], df['timestamp']], axis=1)

# rename columns
df_merged.columns = ['temperature', 'humidity', 'P1', 'P2','timestamp']

df_merged['temperature'] = df_merged['temperature'].fillna(df_merged['temperature'].mean())
df_merged['humidity'] = df_merged['humidity'].fillna(df_merged['humidity'].mean())

df_merged['P1'] = df_merged['P1'].fillna(df_merged['P1'].mean())
df_merged['P2'] = df_merged['P2'].fillna(df_merged['P2'].mean())

df_merged['timestamp'] = pd.to_datetime(df_merged['timestamp'])

means_nov = df_merged.groupby(df_merged['timestamp'].dt.date).mean().reset_index()

means_nov

     timestamp  temperature   humidity         P1         P2
0   2021-11-08    20.640328  69.605882  20.016328  10.949917
1   2021-11-09    20.133405  72.656973  20.512749  11.444472
2   2021-11-10    19.778418  74.222526  20.292340  11.501434
3   2021-11-11    19.621594  74.471147  21.737717  12.116787
4   2021-11-12    20.338954  70.675762  20.094755  11.218892
5   2021-11-13    20.080101  72.050882  19.953032  11.065031
6   2021-11-14    20.178849  71.391504  19.364275  10.855727
7   2021-11-15    19.897974  72.721567  20.346308  11.361189
8   2021-11-16    19.164905  76.828369  21.907009  12.433374
9   2021-11-17    20.171919  71.399519  21.067123  12.030485
10  2021-11-18    20.133746  71.166897  20.400512  11.314981
11  2021-11-19    19.887712  73.204509  22.150040  12.095274
12  2021-11-20    20.033385  73.346824  41.703406  25.564529
13  2021-11-21    19.902374  73.905428  20.916214  11.820031
14  2021-11-22    20.290555  69.938610  19.689851  10.963667
15  2021-11-23    19.436098  72.654241  21.660709  11.716205
16  2021-11-24    20.141946  71.397514  22.001519  11.566694
17  2021-11-25    19.527999  75.921215  22.279094  12.675171
18  2021-11-26    20.031010  74.864973  22.069851  12.696394
19  2021-11-27    20.100451  74.080449  20.736895  11.794503
20  2021-11-28    19.784431  76.935577  19.131461  10.843501
21  2021-11-29    19.773085  77.881838  19.671730  11.444375
22  2021-11-30    19.940436  74.946606  18.222639  10.225009

**Question E10:** Convert the means_feb and means_nov to numpy arrays ... and then compute the average of each collumn

Hint: The results are numpy arrays

In [34]:
import numpy as np
feb_df = means_feb.set_index('timestamp_new')
# compute the average of each column
feb_numpy_array = feb_df.to_numpy()
feb_average = feb_numpy_array.mean(axis=0)
feb_average

array([22.29505367, 64.53429555, 28.26656939, 11.209315  ])

In [35]:
nov_df = means_nov.set_index('timestamp')
nov_numpy_array = nov_df.to_numpy()
nov_average = nov_numpy_array.mean(axis=0)
nov_average

array([19.95607288, 73.31603532, 21.56198073, 12.16076706])

**Question E11:** Write a function to compute the difference in the average temperature, humidity, P1 and P2 between November 2021 and February 2023

Hint: The result is a vector of the form [w,x,y,z]

In [36]:
def sub(nov_data, feb_data):
     # Compute the differences in temperature, humidity, P1, and P2 between the two months
    temp_diff = feb_data['temperature'].mean() - nov_data['temperature'].mean()
    humidity_diff = feb_data['humidity'].mean() - nov_data['humidity'].mean()
    p1_diff = feb_data['P1'].mean() - nov_data['P1'].mean()
    p2_diff = feb_data['P2'].mean() - nov_data['P2'].mean()
     # Return the differences as a vector
    return [temp_diff, humidity_diff, p1_diff, p2_diff]
 
# Print the result of the subtraction
difference = sub(means_nov, means_feb)
print(difference)

[2.3389807892862677, -8.781739773085619, 6.704588662594258, -0.9514520519198886]

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

Upload the generated zip file to the Google sheet please. Uploading work which is not yours will lead to non admittance.

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)